$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}




//導覽列

.boku {
  display: flex;
  width: px;
  height: auto;

  margin: 30px auto;
  z-index: 5;

  a {
    color: #ffffff;
    text-decoration: none;
  }

}

.navbar {
  position: absolute;
  right: 0px;
  top: 0;
  width: 100px;
  height: 100%;

  background-color: rgb(148, 148, 148);
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;

}

.nav-link {
  color: aliceblue;

}

.nav-link:focus,
.nav-link:hover {
  color: rgb(61, 61, 61);
}


.nav-link_soto {
  padding: 0px 5px;






  .nav-link_naka {
    font-size: 1vh;
    padding: 0px 12px;

  }

  .nav-link_naka::before {
    content: "•　";
  }

}


button {
  display: none;
}









//媒體查詢

// @media(max-width:1000px) {
//   .navbar {
//     background-color: rgb(103, 103, 103);
//     width: 100%;


//     .nav {


//       align-items: center;




//       .nav-item {
//         margin-top: 50px;
//         background-color: burlyw ood;


//         a {
//           font-size: 3vh;

//         }
//       }
//     }
//   }



//   .home {

//     button {
//       display: flex;
//     }


//   }

// }


// button:hover {
//   background-color: aqua;

// }

// button:active {
//   display: none;



// }