.e_sho_top_a{
  width: 30vw;
  margin: 0 auto;
  margin-top: 0;
  // margin-left: 65vh;
}



.e_sho_top_b{
display: flex;
justify-content: center;
align-items: center;
// background-color: aquamarine;
height: auto;
margin-bottom: 200px;

img{
  margin: 0 10px;
  height: 10vh;
}
}





.e_sho{
// background-color: aquamarine;
// margin-right: 200px;
// margin-left: 50px;

.row{
  align-items: center;
}


.col{
  margin: auto 0;
}


}

  

