





//格子圖

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
    margin: auto 200px auto 50px;
  }
  .image-item {
    overflow: hidden;
    
  }
  .image-item img {
    max-width:100%;
    height: auto;

  }



  

//輪播圖
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }