main {
    padding-right: 150px;
}


.title_01 {
    svg {
        width: 30%;
        height: auto;
        display: flex;
        position: absolute;
        top: 40%;
        left: 30%;
        // background-color: aqua;
    }

    max-width: 1920px;
    height: 1080px;
}





.boku {
    display: flex;
    width: 50px;
    height: auto;
    // background-color: rgb(81, 166, 240);

    margin: 30px auto;
    z-index: 5;

}

.navbar {
    position: absolute;
    right: 0px;
    top: 0;
    width: 100px;
    height: 100%;

    background-color: rgb(148, 148, 148);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;

}

.nav-link {
    color: aliceblue;

}

.nav-link:focus,
.nav-link:hover {
    color: rgb(61, 61, 61);
}


.nav-link_soto {
    padding: 0px 5px;






    .nav-link_naka {
        font-size: 1vh;
        padding: 0px 12px;

    }

    .nav-link_naka::before {
        content: "•　";
    }

}



//關於我 

.container {
    max-width: 1920px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


    // background-color: rgb(219, 146, 146);
 
 


}



.container_me {
    display: flex;

    background-color: #F1F2F3;
    border-radius: 0 300px 0 0;
    background-size: cover;
    object-fit: cover;
    width: 1000px;
    position: relative;

    .boku_img {
        width: 40vh;
        height: 40vh;
        // background-color: aquamarine;
        background-image: url(../img/667CF5CE-0C3B-401D-87DB-08D00C4E2966.jpg);
        background-size: cover;
        border-radius: 500px;
        margin: 50px 0;
        margin-left: 100px;


    }

    .boku_txt {

        // background-color: rgb(163, 163, 163);


        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        bottom: 100px;
        right: 200px;

    }



}

.container_work {

    // background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1000px;
    margin-top: 50px;



    .col {
        width: 300px;
        border-left: #727272 1px solid;
    }


}





//核心工具/擅長工具

.expertise {
    margin-top: 200px;
    // background-color: aquamarine;
    padding-right: 0px;

    .expertise_top {
        text-align: center;

    }

    .container {
        text-align: center;

    }

    svg {
        width: 50px;
        height: 50px;
    }

    img {
        width: 50px;
        height: 50px;
    }

}




//按鈕

.list {
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    // background-color: aqua;


    button {
        margin: 30px;
        font-size: 2vh;
    }
}


//底部

footer {
    padding-right: 300px;
    background-color: #F1F2F3;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 150px;
        
    }
}