.pd_top {
    width: auto;
    height: 100%;
    margin: 20vh auto;
    // background-color: aqua;
    display: flex;
    justify-content: center;


    svg {


        width: auto;
        height: 15vh;
        object-fit: cover;
    }


}





.pd {


    display: flex;
    height: auto;
    margin: 50px 0;




    .pd_lift {
        height: 100%;
        width: 80vh;


    }


    .pd_right {


        width: 50vh;
        height: auto;
        margin-top: 10vh;
        margin-bottom: 5vh;
        margin-left: 20vh;
        padding: 20px;

        svg {
            width: auto;
            height: 10vh;
            margin: auto 0;
        }

        img {
            width: 100%;
            height: auto;
        }


    }







}




.pack,.light_box {
    display: flex;
    justify-content: center;
    margin: 50px 0;

    img {
        width: auto;
        height: 60vh;
        margin: auto 2vh;


    }
}
