// main {
//     padding-right: 150px;
// }

.title_33 {


    .title_336 {


        // background-color: aqua;
        display: flex;
        display: inline-block;
        position: absolute;
        width: 50%;
        height: auto;
       

        top: 20%;
        left: 40%;


    }



    svg {
        width: 30%;
        height: auto;
        display: flex;
        align-items: normal;
        // background-color: rgb(88, 84, 69);

    }

    max-width: 1920px;
    height: 500px;
}
