.construction{
    display: flex;
    justify-content: center;

    img{
        margin: 20vh  auto;
    }
   
}


.fl_ui{

    display: flex;
    flex-direction: column;
position: relative;


.flgif{
    width: 33%;
    height: auto;
    position: absolute;
    bottom: 48.6vh;
    left: 11.6vh;

}
}