// .construction {
//     display: flex;
//     justify-content: center;

//     img {
//         margin: 20vh auto;
//     }

// }


.ui_tob_b {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 10%;
        height: auto;
        margin: 0 100px 0 100px;
    }



}




.edm_a {
    display: flex;
    flex-direction: column;
    // background-color: #F7F7FC;
    margin: 30px 0 30px 0;
    padding: 30px 0 30px 0;
    position: relative;

    img {
        width: 90%;
        height: auto;

    }

    .edm_ar {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    background-image: url(/img/ui/edm_a_bg.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100vh 35vh;

}





.fl_ui {

    display: flex;
    flex-direction: column;





    .flgif {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }


    }

    .flimg {
        img {
            width: 100%;
            height: auto;
        }

    }
}



//手機板本

.phone_nav {
    display: none;
}


@media screen and (max-width: 1280px) {
    @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
    nav,

    footer {
        display: none;
    }


    .phone {
        display: block;
    }

    .phone_nav {
        width: 100%;
        height: 80px;
        padding: 0px 20px;
        background-color: #d2d2d2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 50;
        transition: background-color 0.3s ease;
    }

    .phone_nav.transparent {
        background-color: rgba(210, 210, 210, 0.5215686275);
    }

    .phone_nav input {
        display: none;
    }

    .phone_nav .phone_bur {
        width: 60px;
        height: 50px;
        border: 2px solid rgba(135, 135, 135, 0.3843137255);
        box-sizing: border-box;
        border-radius: 5px;
    }

    .phone_nav .phone_bur .bur_line {
        border: 2px solid #878787;
        width: 40px;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 300px;
    }

    #btn:checked+.phone_bur_menu {
        display: block;
    }

    #btn:checked~label .bur_line:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 30px;
        right: 30px;
    }

    #btn:checked~label .bur_line:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 30px;
        right: 30px;
    }

    #btn:checked~label .bur_line:nth-child(even) {
        display: none;
    }

    .phone_bur_menu {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 999;
        padding: 50px;
        display: none;
    }

    .phone_bur_menu h1 {
        font-size: 30px;
    }

    .phone_bur_menu p {
        margin-top: 40px;
        font-size: 18px;
    }

    .phone_bur_menu li {
        font-size: 18px;
        margin-top: 20px;
    }
}