@import'_global';
@import'_header';
@import'_graphic';
@import'_pattern_drawing';

@import'_uiux.scss';
@import'_e_graphic';

body{
    
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
}
