@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
.index_body {
  background-color: #CBE3EF;
}

.title_boku {
  position: relative;
  max-width: 1920px;
  height: 1080px;
}
.title_boku .title_boku_title {
  position: absolute;
  z-index: 5;
  top: 35vh;
  left: 65vh;
}
.title_boku .title_boku_title svg {
  width: 30%;
  height: auto;
  display: flex;
  position: absolute;
  top: 40%;
  left: 30%;
  background-color: aqua;
}
.title_boku .title_boku_bg {
  position: absolute;
  z-index: 1;
  top: 4vh;
  left: 25vh;
}

.container {
  max-width: 1920px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container p {
  color: #254E7A;
}

.container_me {
  display: flex;
  background-color: #F7F7FC;
  border-radius: 0 100px 0 0;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
}
.container_me .boku_img {
  width: 30vh;
  height: 30vh;
  background-image: url(../img/667CF5CE-0C3B-401D-87DB-08D00C4E2966.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: auto 0;
  margin-left: 100px;
  overflow: hidden;
}
.container_me .boku_txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 150px auto;
}

.container_work {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin-top: 50px;
  margin-top: 100px;
}

.container_history {
  width: 138vh;
  background-color: #F7F7FC;
  border-radius: 0 100px 0 0;
  padding: 20px;
}

.expertise {
  margin-top: 100px;
  padding-right: 0px;
  padding-top: 50px;
}
.expertise p {
  color: #254E7A;
}
.expertise .expertise_top {
  text-align: center;
}
.expertise .container {
  text-align: center;
}
.expertise svg {
  width: 50px;
  height: 50px;
}
.expertise img {
  width: 50px;
  height: 50px;
}

.navbar-toggler {
  display: none;
}

.list {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.list button {
  margin: 80px;
  font-size: 2vh;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  margin-right: 20vh;
  margin-left: 5vh;
}

@media screen and (max-width: 1330px) {
  main {
    margin-right: 0px; /* 或者 margin-right: auto; */
    margin-left: 0px; /* 或者 margin-left: auto; */
  }
}
nav {
  z-index: 50;
  position: fixed;
  top: auto;
  right: 0;
}
nav .navbar {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(89, 148, 128);
}
nav .navbar .boku {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 150PX;
  justify-content: flex-start;
  background-color: #F7F7FC;
}
nav .navbar .boku_naka {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
  height: 100%;
  justify-content: space-around;
}
nav .nav-item li {
  margin-top: 2vh;
}
nav .nav-link_naka::before {
  content: "•　";
}

footer {
  padding-right: 300px;
  background-color: #F7F7FC;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 150px;
}

body {
  font-family: ‘cwTeXYen’, sans-serif;
}

.scrollable-container {
  max-height: 500px;
  /* 設定容器最大高度 */
  overflow-y: auto;
  /* 垂直滾動條 */
  overflow-x: hidden;
  /* 隱藏水平滾動條 */
}

/* 隱藏右邊的滾軸 */
.scrollable-container::-webkit-scrollbar {
  width: 0;
}

.e_sho_top_a {
  width: 30vw;
  margin: 0 auto;
  margin-top: 0;
}

.e_sho_top_b {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 200px;
}
.e_sho_top_b img {
  margin: 0 10px;
  height: 10vh;
}

.e_sho .row {
  align-items: center;
}
.e_sho .col {
  margin: auto 0;
}

.title_graphic {
  max-width: 1920px;
  height: 500px;
}
.title_graphic .title_graphic_naka {
  display: flex;
  display: inline-block;
  position: absolute;
  width: 50%;
  height: auto;
  top: 20%;
  left: 40%;
}
.title_graphic svg {
  width: 30%;
  height: auto;
  display: flex;
}

.swiper {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.books {
  height: auto;
}
.books .book_01,
.books .book_02,
.books .book_03,
.books .book_04 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 15vh;
  margin-right: 15vh;
  margin-bottom: 15vh;
}
.books .book_01 .left,
.books .book_02 .left,
.books .book_03 .left,
.books .book_04 .left {
  height: auto;
  width: 60vh;
  display: flex;
  display: inline-block;
}
.books .book_01 .left img,
.books .book_02 .left img,
.books .book_03 .left img,
.books .book_04 .left img {
  width: auto;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 2px 0px 17px 0px rgba(1, 1, 1, 0.14);
}
.books .book_01 .bookright,
.books .book_02 .bookright,
.books .book_03 .bookright,
.books .book_04 .bookright {
  width: 100%;
  height: 100%;
}
.books .book_01 .bookright .swiper,
.books .book_02 .bookright .swiper,
.books .book_03 .bookright .swiper,
.books .book_04 .bookright .swiper {
  width: 110vh;
  height: 100%;
  margin: 0 auto;
}
.books .book_01 .bookright .swiper-slide,
.books .book_02 .bookright .swiper-slide,
.books .book_03 .bookright .swiper-slide,
.books .book_04 .bookright .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.books .book_01 .bookright .swiper-slide img,
.books .book_02 .bookright .swiper-slide img,
.books .book_03 .bookright .swiper-slide img,
.books .book_04 .bookright .swiper-slide img {
  width: 100%;
  height: 50%;
  border-radius: 0%;
  margin-right: 10px;
}
.books .book_01 .bookright .text-with-color,
.books .book_02 .bookright .text-with-color,
.books .book_03 .bookright .text-with-color,
.books .book_04 .bookright .text-with-color {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20vh;
  justify-content: flex-end;
}
.books .book_01 .bookright .text-with-color p,
.books .book_02 .bookright .text-with-color p,
.books .book_03 .bookright .text-with-color p,
.books .book_04 .bookright .text-with-color p {
  margin-top: 0;
  margin-bottom: 0rem;
}
.books .book_01 .bookright .text-with-color .color-block,
.books .book_02 .bookright .text-with-color .color-block,
.books .book_03 .bookright .text-with-color .color-block,
.books .book_04 .bookright .text-with-color .color-block {
  width: 16vh;
  /* 色塊的寬度 */
  height: auto;
  /* 色塊的高度 */
  background-color: #CBE3EF;
  /* 色塊的顏色 */
  margin-left: 30px;
}
.books .book_05 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.books .book_05 .left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.books .book_05 .left img {
  width: auto;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 2px 0px 17px 0px rgba(1, 1, 1, 0.14);
}
.books .bookright img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.books .bookright .text-with-color {
  display: flex;
  margin: 0 auto;
  margin-bottom: 63%;
  justify-content: flex-end;
}
.books .bookright .text-with-color p {
  margin-top: 0;
  margin-bottom: 0rem;
  color: #254E7A;
}
.books .bookright .text-with-color .color-block {
  width: 16vh;
  /* 色塊的寬度 */
  height: auto;
  /* 色塊的高度 */
  background-color: #ffffff;
  /* 色塊的顏色 */
  margin-left: 30px;
}

.ui_tob_b {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui_tob_b img {
  width: 10%;
  height: auto;
  margin: 0 100px 0 100px;
}

.edm_a {
  display: flex;
  flex-direction: column;
  margin: 30px 0 30px 0;
  padding: 30px 0 30px 0;
  position: relative;
  background-image: url(../img/ui/edm_a_bg.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 100vh 35vh;
}
.edm_a img {
  width: 90%;
  height: auto;
}
.edm_a .edm_ar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl_ui {
  display: flex;
  flex-direction: column;
}
.fl_ui .flgif {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl_ui .flgif img {
  width: 100%;
}
.fl_ui .flimg img {
  width: 100%;
  height: auto;
}

.phone_nav {
  display: none;
}

@media screen and (max-width: 1280px) {
  @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
  nav,
  footer {
    display: none;
  }
  .phone {
    display: block;
  }
  /* 導覽列 */
  .phone_nav {
    width: 100%;
    height: 80px;
    padding: 0px 20px;
    background-color: #F7F7FC;
    color: #254E7A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 50;
    transition: background-color 0.3s ease;
  }
  .phone_nav svg {
    width: 80%;
  }
  .phone_nav.transparent {
    background-color: #F7F7FC 210, 210, 210, 0.5215686275;
  }
  .phone_nav input {
    display: none;
  }
  .phone_nav .phone_bur {
    width: 60px;
    height: 50px;
    border: 2px solid rgba(135, 135, 135, 0.3843137255);
    box-sizing: border-box;
    border-radius: 5px;
  }
  .phone_nav .phone_bur .bur_line {
    border: 2px solid #878787;
    width: 40px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 300px;
  }
  #btn:checked + .phone_bur_menu {
    display: block;
  }
  #btn:checked ~ label .bur_line:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 30px;
    right: 30px;
  }
  #btn:checked ~ label .bur_line:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 30px;
    right: 30px;
  }
  #btn:checked ~ label .bur_line:nth-child(even) {
    display: none;
  }
  .phone_bur_menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    padding: 50px;
    display: none;
  }
  .phone_bur_menu h1 {
    font-size: 30px;
  }
  .phone_bur_menu p {
    margin-top: 40px;
    font-size: 18px;
  }
  .phone_bur_menu li {
    font-size: 18px;
    margin-top: 20px;
  }
}
.pd_top {
  width: auto;
  height: 100%;
  margin: 20vh auto;
  display: flex;
  justify-content: center;
}
.pd_top svg {
  width: auto;
  height: 15vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.pd {
  display: flex;
  height: auto;
  margin: 50px 0;
}
.pd .pd_lift {
  height: 100%;
  width: 80vh;
  margin-left: 10vh;
}
.pd .pd_right {
  width: 50vh;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: 20vh;
  padding: 20px;
}
.pd .pd_right svg {
  width: auto;
  height: 10vh;
  margin: auto 0;
}
.pd .pd_right img {
  width: 100%;
  height: auto;
}

.pack, .light_box {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.pack img, .light_box img {
  width: auto;
  height: 60vh;
  margin: auto 2vh;
}/*# sourceMappingURL=main.css.map */