@media screen and (max-width: 1280px) {
    @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
    nav,
    main,
    footer {
        display: none;
    }
    .phone {
        display: block;
    }
    .phone_nav {
        width: 100%;
        height: 80px;
        padding: 0px 20px;
        background-color: #d2d2d2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 50;
        transition: background-color 0.3s ease;
    }
    .phone_nav.transparent {
        background-color: rgba(210, 210, 210, 0.5215686275);
    }
    .phone_nav input {
        display: none;
    }
    .phone_nav .phone_bur {
        width: 60px;
        height: 50px;
        border: 2px solid rgba(135, 135, 135, 0.3843137255);
        box-sizing: border-box;
        border-radius: 5px;
    }
    .phone_nav .phone_bur .bur_line {
        border: 2px solid #878787;
        width: 40px;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 300px;
    }
    #btn:checked + .phone_bur_menu {
        display: block;
    }
    #btn:checked ~ label .bur_line:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 30px;
        right: 30px;
    }
    #btn:checked ~ label .bur_line:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 30px;
        right: 30px;
    }
    #btn:checked ~ label .bur_line:nth-child(even) {
        display: none;
    }
    .phone_bur_menu {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 999;
        padding: 50px;
        display: none;
    }
    .phone_bur_menu h1 {
        font-size: 30px;
    }
    .phone_bur_menu p {
        margin-top: 40px;
        font-size: 18px;
    }
    .phone_bur_menu li {
        font-size: 18px;
        margin-top: 20px;
    }
    .phone_pattern_title {
        text-align: center;
        margin-top: 380px;
    }
    .phone_pattern_titlepic > .pd_top {
        width: 80%;
        margin-top: 200px;
    }

    .phone_pattern_item {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        /* background-color: red; */
        width: 70%;
        margin-top: 80px;
    }
    .phone_pattern_item > .rectangle {
        width: 30vw;
        height: 30px;
        background-color: #ccc;
    }
    .phone_pattern_item > p {
        margin-top: 6px;
        font-size: 18px;
        color: #ccc;
        line-height: 20px;
    }
    .phone_pattern_itempic {
        margin-right: auto;
        margin-left: auto;
        width: 75%;
        /* background-color: red; */
    }
    .phone_pattern_itempic > img {
        margin-top: 10px;
        width: 100%;
    }
    .phone .phone_pattern_itempic2 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .phone .phone_pattern_itempic2 > img {
        width: 35%;
    }
    .phone_pattern_itempic3 {
        margin-right: auto;
        margin-left: auto;
        margin-top: 200px;
        width: 200px;
        height: 500px;
        background-color: #ccc;
        position: relative;
    }

    .phone_pattern_itempic3 > img:first-child {
        position: absolute;
        width: 120%;
        top: -150px;
        left: -120px;
    }
    .phone_pattern_itempic3 > img:last-child {
        position: absolute;
        width: 100%;
        top: 350px;
        left: 120px;
    }
    .phone_bottom {
        width: 100%;
        height: 100px;
        /* background-color: red; */
        margin-top: 200px;
    }
}
